package pages

import (
	"ukiran.com/snippetbox/internal/models"
	"ukiran.com/snippetbox/ui/html/layouts"
)

templ AboutPage(data models.TemplateData) {
	@layouts.Base("About - Snippetbox", data, aboutContent())
}

templ aboutContent() {
	<h2>About</h2>
	<p>
    ...
	</p>
}
