# Server Configuration
ADDR=:4000
DEBUG=false

# PostgreSQL Connection
DSN=postgres://web:qwe@postgres:5432/snippetbox?search_path=snippets&sslmode=disable

# TLS Configuration
TLS_CERT=./tls/cert.pem
TLS_KEY=./tls/key.pem
